*{
    background-color: #7050cd;
}

main {
    display: grid;
    grid-template-areas: 
    "navBar navBar navBar" 
    "topBar topBar topBar"
    "info1 list1 img1"
    "info2 list2 img2"
    "footer footer footer"  ;

    gap: 150px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 200px 200px 200px;
    align-items: center;
    justify-items: center;
  }
header{grid-area: navBar;
    align-items: center;
    justify-items: center;
    padding: auto;
}  
#intro{grid-area: topBar;}

#earlyStory{grid-area: info1;}
#earlyStoryPowers{grid-area:list1}
#earlyImg{
    width: 600px;
    height:300px;
    grid-area: img1; 
}

#theEnd{grid-area: info2;}
#theEndPowers{grid-area: list2;}
#endImg{
    width: 400px;
    height:400px;
    grid-area: img2; 
}

footer{grid-area: footer;}

h1,h2,h3,h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
h1{
    font-size: xx-large;
    text-align: center;
}


ol,ul{
    color: #ffffff;
    padding-left: 50px;
}



.hyperlink{
    font-size: large;
    color: #312f48;
}

#profile{
    border: 5px solid black;
    border-radius: 50%; 
    width: 200px;
    height:200px;
    background-size: contain;
    margin-left:auto ;
    margin-right:auto;
    display: block;    
}


